:root {
  --vsc-default-color-blue: #007ACC;
  --vsc-default-color-green: #16825D;
  --vsc-default-color-dark-bg-1: #333333;
  --vsc-default-color-dark-bg-2: #252525;
  --vsc-default-color-dark-bg-3: #1E1E1E;
  --vsc-default-color-gray: #707070;
  --vsc-default-color-lightgray: #BBBBBB;
  --vsc-default-color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, span {
	display: block;
}

body {
	line-height: 1;
  font-family: Segoe WPC,Segoe UI,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol, ul {
	list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.aside-container {
  width: 85%;
  margin: 0 auto;
}

.aside-header {
  text-transform: uppercase;
  color: var(--vsc-default-color-white);
  padding-bottom: 15px;
  font-size: 0.825em;
}

.asideBtnStyle {
  padding: 20px;
  display: flex;
  border-radius: 6px;
  background-color: var(--vsc-default-color-blue);
  color: var(--vsc-default-color-white);
}

.asideBtnStyle:hover {
  background-color: #0197FD;
}

.modeActive {
  color: var(--vsc-default-color-blue) !important;
  font-weight: bold;
}

.vsc__themer {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.vsc__themer__menu {
  background-color: var(--vsc-default-color-dark-bg-3);
  height: 100vh;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.vsc__themer__menu__logo {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  color: var(--vsc-default-color-white);
  border-bottom: 1px solid #2A2A2A;
}

.vsc__themer__name input {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #2A2A2A;
  color: var(--vsc-default-color-white);
}

.vsc__themer__name input:focus-visible {
  outline: none; 
  border-bottom: 1px solid var(--vsc-default-color-blue);
}

.vsc__themer__type__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vsc__themer__type__btn span {
  padding: 15px 20px;
  border: 1px solid #2A2A2A; 
  text-transform: capitalize;
  color: var(--vsc-default-color-white);
  cursor: pointer;
}
.vsc__themer__type__btn span:hover {
  background-color: var(--vsc-default-color-dark-bg-2);
}

.vsc__themer__sections ul li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  color: var(--vsc-default-color-white);
  text-transform: capitalize;
  position: relative;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  font-size: 1em;
}

.vsc__themer__sections ul li:hover {
  background-color: var(--vsc-default-color-blue);
}

.vsc__themer__sections ul li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -52%);
}

.vsc__themer__sections ul li i {
  font-size: 1.4em;
}

.tooltip__wrapper {
  text-transform: uppercase;
  color: #555;
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltip__wrapper .tooltip {
    background: #fff;
white-space: nowrap;
left: 0;;
position: absolute;
top: 50%;
left: 162%;
bottom: 0;
color: #1E1E1E;
display: block;
opacity: 0;
    padding: 0 20px 10px;
pointer-events: none;
width: 250px;
height: 100%;
transform: translateY(10px);
transition: all .25s ease-out;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
font-size: 1em;

}

/* CSS Triangles - see Trevor's post */
.tooltip__wrapper .tooltip:after {
border-left: solid transparent 10px;
border-right: solid transparent 10px;
border-top: solid var(--vsc-default-color-white) 10px;
content: " ";
position: absolute;
top: 50%;
left: 0;
bottom: -10px;
height: 0;
margin-left: -13px;
width: 0;
transform: rotate(90deg);
}

.tooltip__wrapper:hover .tooltip {
opacity: 1;
pointer-events: auto;
-webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
   -o-transform: translateY(0px);
    transform: translateY(0px);
}

.tooltip p {
      font-weight: 600;
      text-align: left;
    font-size: 1em;
    padding: 20px 0;
    border-bottom: 1px solid #cfcfcf;
}

.pick-a-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.vsc__themer__preview {
  height: calc(100vh - 160px);
  display: grid;
  grid-template-columns: 0.1fr 0.8fr 1.9fr 0.4fr 0.05fr;
  grid-template-rows: 0.1fr 0.1fr 1.6fr 1fr 0.1fr;
  grid-template-areas: "titlebar titlebar titlebar titlebar titlebar" "activitybar sidebar tabs tabs tabs" "activitybar sidebar editor editor scrollbar" "activitybar sidebar terminal terminal terminal" "statusbar statusbar statusbar statusbar statusbar";
  width: 80%;
  margin: 0 auto;
  align-self: center;
}

.titlebar {
  width: 100%;
  grid-area: titlebar;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  padding: 10px;
  background-color: #2B2B2B;
  color: #737373;
  border-radius: 10px 10px 0 0;
}
.titlebar__left {
  flex-grow: 1;
  text-align: left;
}
.titlebar__left ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8em;
}
.titlebar__left ul li img {
  width: 1.3em;
}
.titlebar__center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.titlebar__right ul {
  list-style: none;
  flex-grow: 1;
  display: flex;
  justify-content: right;
  gap: 1.4em;
}

.activitybar {
  grid-area: activitybar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #333333;
  color: #737373;
}
.activitybar__top {
  display: flex;
  flex-direction: column;
}
.activitybar__top .codicon {
  font-size: 1.2em;
}
.activitybar__top__icon, .activitybar__top__icon__active {
  padding: 10px;
  font-weight: bold;
}
.activitybar__top__icon__active {
  border-left: 3px solid var(--vsc-default-color-blue);
  color: var(--vsc-default-color-lightgray);
}
.activitybar__bottom {
  display: flex;
  flex-direction: column;
}
.activitybar__bottom .codicon {
  font-size: 1.2em;
}

.statusbar {
  grid-area: statusbar;
  display: flex;
}
.statusbar__remote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #16825d;
  color: #fff;
  border-bottom-left-radius: 10px;
}
.statusbar__items {
  background-color: #007acc;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px 3px 8px;
  border-bottom-right-radius: 10px;
  font-size: 0.8em;
}
.statusbar__items__left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.statusbar__items__right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar {
  grid-area: sidebar;
  background-color: #252526;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
  color: #cccccc;
  font-size: 11px;
}
.sidebar__explorer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.sidebar__explorer span {
  text-transform: uppercase;
  font-size: 9px;
}
.sidebar__dropdown {
  display: flex;
  align-items: center;
  height: 22px;
  text-transform: uppercase;
}
.sidebar__dropdown div {
  padding: 0 2px;
}
.sidebar__outline, .sidebar__timeline {
  border-top: 1px solid rgba(204, 204, 204, 0.2);
}

.editor {
  grid-area: editor;
}
.editor__program {
  height: 100%;
  background-color: #1E1E1E;
  display: flex;
  font-size: 11px;
}
.editor__program ul {
  list-style: none;
  color: #858585;
}
.editor__program ul li {
  height: 19px;
}
.editor__program ul:first-child li {
  width: 50px;
  height: 19px;
  display: flex;
  justify-content: end;
  padding: 5px 20px;
}
.editor__program ul:last-child li {
  padding: 5px 0;
}

.scrollbar {
  grid-area: scrollbar;
  background-color: #1E1E1E;
  border: 1px solid #444444;
  position: relative;
}
.scrollbar__bar {
  width: 100%;
  height: 200px;
  background-color: #444444;
}
.scrollbar__cursorpoint {
  width: 100%;
  height: 2px;
  background-color: #b0b0b0;
  position: absolute;
  top: 30%;
}

.terminal {
  grid-area: terminal;
  background-color: #1E1E1E;
  color: rgba(231, 231, 231, 0.6);
  font-size: 9px;
  border-top: 1px solid #444444;
}
.terminal__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}
.terminal__tabs__left ul {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  gap: 20px;
}
.terminal__tabs__left__active {
  border-bottom: 1px solid var(--vsc-default-color-blue);
}
.terminal__tabs__left ul li {
  padding: 5px 0;
}
.terminal__tabs__right {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}
.terminal__tabs__right .codicon {
  font-size: 9px;
}
.terminal__editor {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.terminal__editor__cursor {
  padding: 6px 2px;
  width: 4px;
  border: 1px solid rgba(231, 231, 231, 0.6);
}

.tabs {
  grid-area: tabs;
  display: flex;
  justify-content: space-between;
  background-color: #252526;
}
.tabs__tabs {
  height: 30px;
  display: flex;
  color: #fff;
}
.tabs__tab {
  padding-left: 10px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 100%;
  background-color: #2D2D2D;
}
.tabs__tab__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tabs__tab__active {
  background-color: #1E1E1E;
  border-top: 1px solid var(--vsc-default-color-blue);
}
.tabs__tab__active .codicon, .tabs__tab__active i {
  font-size: 11px;
  visibility: visible !important;
}
.tabs__tab img {
  width: 0.825em;
}
.tabs__tab span {
  font-size: 11px;
}
.tabs__tab .codicon {
  visibility: hidden;
  font-size: 11px;
  padding: 10px;
}
.tabs__icons {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}


